@font-face {
    font-family:RK;
    src: url(./kajjiro.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100vh;
}

#back{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#top{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    position: relative;
    z-index: 10;
}

#workingarea{
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 100vh;
    max-width: 1920px;
    
}

#nav{
    pointer-events: all;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
}

#nav img{
    height: 70px;
}

#nleft , #nright{
    display: flex;
    align-items:center;
    gap: 30px;
}

#nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 650;
    letter-spacing: 1px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hero{
    position: absolute;
    top: 55%;
    left: 0;
    transform: translate(0,-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

#heroleft .elem{
    position: relative;
    height: 9vw;
    overflow: hidden;
}

#heroleft{
    min-width: 45%;
}

#heroleft .elem h1:nth-child(1){
    top: 0;
}

#heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 0.9;
    font-family:RK;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 11vw;
}

#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    color: rgb(255, 255, 255);
    text-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

#heroright p{
    text-align: right;
    font-size: 15px;
    font-weight: 300;
    margin: 20px;
}

#heroleft button{
    pointer-events: all;
    padding: .8vw 3vw;
    font-size: 4vw;
    margin-top: 1vw;
    font-family:RK;
}

#heroright #imagediv{
    width: 100%;
    height: 170px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-image: url(./Images/IMG_3180.jpg);
    background-size:cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(255, 255, 255, 0.35);
}

#heroright p:nth-child(3){
    margin-bottom: 30px;
}